.post {
    padding: 20px 0;

}

.btn-sm {
    margin: 5px 5px 5px 0;
}

.btn-danger {
    margin: 5px 0 5px 10px;
}

.comments-container {
    display: none;
}

li {
    list-style: none;
    vertical-align: middle;
}

.float-right {
    float: right;
}

.comment-li, .buttons {
    overflow: auto;
}